In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
national_age_path = "age_national.csv"

# Read the CSV file and select the desired columns
national_age = pd.read_csv(national_age_path, skiprows=2, usecols=['Year','18-44 - Percentage','45-64 - Percentage','65-74 - Percentage','75+ - Percentage'])

# Rename the columns
national_age = national_age.rename(columns={'18-44 - Percentage': '18-44 percentage',
                                            '45-64 - Percentage': '45-64 percentage',
                                            '65-74 - Percentage': '65-74 percentage',
                                            '75+ - Percentage': '75+ percentage'})

# Select only the desired columns
national_age = national_age[['Year', '18-44 percentage', '45-64 percentage', '65-74 percentage', '75+ percentage']]

# Print the resulting DataFrame
national_age.to_csv('national_age.csv', index=False)

In [17]:
national_age.head()

,Year,18-44 - Percentage,45-64 - Percentage,45-64 - Upper Limit,65-74 - Percentage,65-74 - Lower Limit,65-74 - Upper Limit,75+ - Percentage,75+ - Lower Limit,75+ - Upper Limit,State
0,2000,1.9,8.3,9.0,15.8,14.3,17.3,13.2,11.8,14.7,United States
1,2001,2.0,9.3,10.1,16.7,15.3,18.1,13.6,12.3,15.0,United States
2,2002,1.9,9.3,10.0,17.0,15.6,18.6,14.8,13.3,16.4,United States
3,2003,1.9,9.1,9.8,17.6,16.0,19.4,15.5,13.9,17.1,United States
4,2004,2.0,9.9,10.6,18.5,16.9,20.2,16.0,14.6,17.6,United States

In [18]:
state_age.head()

   Year             State Percentage Lower Limit  Upper Limit
0  2000  Median of States          6         5.7          6.3
1  2001  Median of States        6.3           6          6.9
2  2002  Median of States        6.7         6.2          7.1
3  2003  Median of States          7         6.4          7.4
4  2004  Median of States        6.9         6.4          7.4